@media (max-width: 319px) {
  .small-screen {
    display: block;
    position: fixed;
    inset: 0;
    background-color: #fa0202;
    z-index: 9999;
  }
}

@media (max-width: 390px) {
  .cover {
    width: 100%;
    height: 358px;
  }
}
